# MongoDB Atlas Connection String
# Get this from your Atlas Dashboard -> Connection -> Drivers
MONGO_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/"

# Application Settings
PORT=5001
DEBUG=True
